body {
    background-image: url("img/islamic_wallpaper_5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-weight: normal;
}

@font-face {font-family: "Amiri-Regular"; src: url("fonts/Amiri-Regular.ttf"); }
@font-face {font-family: "BioRhyme-Light"; src: url("fonts/BioRhyme-Light.ttf"); }

#quotes {
    background-color: #a0c1b8;
    border: 2px #709fb0 solid;
    outline: 1px green solid;
    font-size: 0.8em;
    padding-bottom: 6px;
    
}

#weatherInLouisville,
#taskWhiteboard {
    background-color: #a0c1b8;
    border: 2px #709fb0 solid;
    outline: 1px green solid;
    font-size: 0.8em;
    padding-bottom: 6px;
    flex-grow: 1;
}

#flex_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quotesLabel,
#islamicQuotes,
#islamicQuoteTranslation,
#weatherInLouisville h1,
#weatherForecast,
#currentTime,
#currentDateToday,
#taskWhiteboard h1,
#taskWhiteboard p,
#taskWhiteboard form,
#taskWhiteboard ul {
    text-align: center;
    color: white;
    list-style-type: none;
}

#quotesLabel,
#islamicQuoteTranslation,
#weatherInLouisville h1,
#weatherForecast,
#currentTime,
#currentDateToday,
#taskWhiteboard h1,
#taskWhiteboard p {
    font-family: BioRhyme-Light;
    font-weight: normal;
}

#islamicQuotes {
    font-family: Amiri-Regular;
    font-weight: normal;
    padding: 0 5%;
}

#islamicQuoteTranslation {
    font-size: 0.5em;
    padding: 0 20%;
}

#currentTime,
#currentDateToday {
    padding-bottom: 10px;
}

#taskWhiteboard p {
    font-size: 0.8em;
}

#tasks_list li {
    text-align: left;
}

#tasks_list button {
    background-color: purple;
    color: white;
}